Repository fgarofalo56/csa-inabox-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, architecture, best-practices, code-examples, troubleshooting, monitoring, security, devops, dependencies, ci/cd, tools, configuration, images, diagrams

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*.md'
      - 'README.md'
      - 'mkdocs.yml'

architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/architecture/**/*'

best-practices:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/best-practices/**/*'

code-examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/code-examples/**/*'

troubleshooting:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/troubleshooting/**/*'

monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/monitoring/**/*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/security/**/*'
      - 'docs/best-practices/security.md'

devops:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/devops/**/*'
      - '.github/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements.txt'
      - 'package.json'
      - 'package-lock.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'project_tracking/tools/**/*'
      - '*.js'
      - '*.py'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'mkdocs.yml'
      - '.markdownlint.json'
      - '.gitignore'
      - '.gitattributes'

images:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.png'
      - '**/*.jpg'
      - '**/*.jpeg'
      - '**/*.gif'
      - '**/*.svg'

diagrams:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/diagrams/**/*'
      - '**/*.mermaid'
      - '**/*.drawio'

feat: initialize project structure and documentation framework for CSA in-a-box
  .claude/settings.local.json
  config/README.md
  docs/guides/CODE_REVIEW_GUIDE.md
  docs/guides/CONTRIBUTING_GUIDE.md
  docs/guides/DEVELOPMENT_GUIDE.md
  docs/guides/README.md
  docs/guides/TESTING_GUIDE.md
  docs/solutions/README.md
  docs/solutions/azure-realtime-analytics/README.md
  docs/solutions/azure-realtime-analytics/architecture/README.md
  docs/solutions/azure-realtime-analytics/implementation/README.md
  docs/solutions/azure-realtime-analytics/implementation/deployment.md
  docs/solutions/azure-realtime-analytics/operations/README.md
  docs/solutions/azure-realtime-analytics/operations/monitoring.md
  project_tracking/AUDIT_REPORT_2025.md
  project_tracking/README.md
  project_tracking/REMEDIATION_REPORT_2025.md
  scripts/README.md
  scripts/automation/README.md
  scripts/deployment/README.md
  scripts/deployment/azure/README.md
  scripts/deployment/azure/enable-monitoring.sh
  scripts/deployment/docker/README.md
  scripts/deployment/kubernetes/README.md
  scripts/development/README.md
  scripts/development/code-generation/README.md
  scripts/development/linting/README.md
  scripts/development/testing/README.md
  scripts/maintenance/README.md
  scripts/maintenance/cleanup/README.md
  scripts/maintenance/database/README.md
  scripts/maintenance/monitoring/README.md
  scripts/setup/README.md
Labels: documentation

feat: initialize project structure and documentation framework for CSA in-a-box (#13)
  .claude/settings.local.json
  config/README.md
  docs/guides/CODE_REVIEW_GUIDE.md
  docs/guides/CONTRIBUTING_GUIDE.md
  docs/guides/DEVELOPMENT_GUIDE.md
  docs/guides/README.md
  docs/guides/TESTING_GUIDE.md
  docs/solutions/README.md
  docs/solutions/azure-realtime-analytics/README.md
  docs/solutions/azure-realtime-analytics/architecture/README.md
  docs/solutions/azure-realtime-analytics/implementation/README.md
  docs/solutions/azure-realtime-analytics/implementation/deployment.md
  docs/solutions/azure-realtime-analytics/operations/README.md
  docs/solutions/azure-realtime-analytics/operations/monitoring.md
  project_tracking/AUDIT_REPORT_2025.md
  project_tracking/README.md
  project_tracking/REMEDIATION_REPORT_2025.md
  scripts/README.md
  scripts/automation/README.md
  scripts/deployment/README.md
  scripts/deployment/azure/README.md
  scripts/deployment/azure/enable-monitoring.sh
  scripts/deployment/docker/README.md
  scripts/deployment/kubernetes/README.md
  scripts/development/README.md
  scripts/development/code-generation/README.md
  scripts/development/linting/README.md
  scripts/development/testing/README.md
  scripts/maintenance/README.md
  scripts/maintenance/cleanup/README.md
  scripts/maintenance/database/README.md
  scripts/maintenance/monitoring/README.md
  scripts/setup/README.md
Labels: documentation

style: update formatting for consistency across documentation
  docs/code-examples/serverless-sql-guide.md
  docs/guides/CODE_REVIEW_GUIDE.md
  docs/guides/CONTRIBUTING_GUIDE.md
  docs/guides/MARKDOWN_STYLE_GUIDE.md
  docs/guides/localization-guide.md
  docs/tutorials/certification-prep/README.md
Labels: documentation, code-examples

Add GitHub Copilot instructions for repository context (#34)
  .github/copilot-instructions.md
Labels: devops

updated docs and repo
  docs/02-services/analytics-compute/README.md
  docs/02-services/orchestration-services/README.md
  docs/02-services/orchestration-services/azure-data-factory/README.md
  docs/02-services/orchestration-services/azure-logic-apps/workflow-automation.md
  docs/03-architecture-patterns/batch-architectures/data-lake-analytics.md
  docs/03-architecture-patterns/batch-architectures/data-mesh.md
  docs/03-architecture-patterns/batch-architectures/hub-spoke-model.md
  docs/03-architecture-patterns/batch-architectures/medallion-architecture.md
  docs/03-architecture-patterns/hybrid-architectures/htap-patterns.md
  docs/03-architecture-patterns/hybrid-architectures/polyglot-persistence.md
  docs/03-architecture-patterns/reference-architectures/README.md
  docs/03-architecture-patterns/reference-architectures/iot-analytics.md
  docs/03-architecture-patterns/service-architectures/README.md
  docs/03-architecture-patterns/streaming-architectures/kappa-architecture.md
  docs/03-architecture-patterns/streaming-architectures/lambda-architecture.md
  docs/05-best-practices/README.md
  docs/05-best-practices/cross-cutting-concerns/performance/README.md
  docs/06-code-examples/by-service/synapse/README.md
  docs/06-code-examples/delta-lake/cdc/README.md
  docs/06-code-examples/delta-lake/ingestion/README.md
  docs/06-code-examples/delta-lake/optimization/README.md
  docs/06-code-examples/integration-examples/streaming-pipeline/README.md
  docs/06-code-examples/integration-guide.md
  docs/06-code-examples/serverless-sql-guide.md
  docs/07-troubleshooting/common-errors.md
  docs/07-troubleshooting/guided-troubleshooting.md
  docs/07-troubleshooting/service-troubleshooting/cosmosdb/README.md
  docs/10-devops/README.md
  docs/administration/README.md
  docs/i18n/README.md
Labels: documentation

fix(ci): fix all 8 GitHub Actions workflows and mkdocs configuration
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/documentation-tests.yml
  .github/workflows/link-checker.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/versioned-release.yml
  docs/assets/images/Azure-Synapse-Analytics.svg
  docs/assets/images/favicon.svg
  mkdocs.yml
Labels: documentation, devops, ci/cd, configuration, images

Fix docs deployment: remove --strict from mkdocs build to unblock GitHub Pages publishing (#53)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/documentation-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/versioned-release.yml
Labels: devops, ci/cd

docs: mark repository as retired, point to csa-inabox
  README.md
Labels: documentation
